<mat-nav-list class="pl-2">
  <a mat-list-item class="text-black-50" routerLink="search">
    <mat-icon>search</mat-icon>
    <span>Search</span>
  </a>
  <a mat-list-item class="text-black-50" routerLink="">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item class="text-black-50" routerLink="timeline">
    <mat-icon>timeline</mat-icon>Time Line
  </a>
  <a mat-list-item class="text-black-50" routerLink="people">
    <mat-icon>people</mat-icon>People
  </a>
  <a mat-list-item class="text-black-50" routerLink="settings">
    <mat-icon>settings</mat-icon>Settings
  </a>
</mat-nav-list>
