<div class="row border-bottom" style="height: 40px;" (window:resize)="getWidth($event)">
  <span class="col-2 col-md-1 text-center" style="background-color: #800080;">
    <mat-icon class="pt-2 ml-4 toPointerCursor text-white" (click)="drawer.toggle()">menu</mat-icon>
  </span>
  <span class="col-10 col-md-8">
    <img src="../../assets/images/company_logo.png" alt="company_logo" [class.text-center]="!sufficientWidth()" [class.w-75]="!sufficientWidth()" height="40px">
  </span>
  <span class="col-md-2 small text-right" *ngIf="sufficientWidth()">
    <span>
      <span class="text-uppercase">renee mckelvey</span>
      <br>
      <span class="text-capitalize">account settings</span>
    </span>
  </span>
  <span class="col-1" *ngIf="sufficientWidth()">
    <mat-icon>account_circle</mat-icon>
  </span>
</div>
